name: Integration
on:
  pull_request:
    branches: [ main ]
    paths:
      - '**.api'
      - '**.kt'
      - '**.kts'
      - .github/workflows/integration.yml
      - gradle/**
      - gradle.properties
      - gradlew
      - gradlew.bat
  push:
    branches: [ main ]
    paths:
      - '**.api'
      - '**.kt'
      - '**.kts'
      - .github/workflows/integration.yml
      - gradle/**
      - gradle.properties
      - gradlew
      - gradlew.bat
  workflow_dispatch:
env:
  JAVA_DISTRIBUTION: temurin
  JAVA_VERSION: 17
jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Setup Java
        uses: actions/setup-java@v4.7.1
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4.3.1
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.3.1
      - name: Check 'jvm' Gradle project
        run: ./gradlew :jvm:check
      - name: Check 'jvm-demo' Gradle project
        run: ./gradlew :jvm-demo:check
  plugin:
    name: Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Setup Java
        uses: actions/setup-java@v4.7.1
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4.3.1
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.3.1
      - name: Build ':plugin' project
        run: ./gradlew :plugin:build
